
    {{#each comments }}
       
    <div id="comment-{{id}}" class="card post-comment">
        <h5 id="comment-header-{{id}}" class="card-header">Featured</h5>
        <div class="card-body">
        <p class="card-text">{{post_comment}}</p>
        <button id="comment-delete-{{id}}" class="btn btn-primary delete-comment">Delete</button>
        <button id="comment-edit-{{id}}" class="btn btn-primary edit-comment">Edit</button>
    </div>
</div>
    {{/each}}
