<div id="postModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Blog Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="blog-title" class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example text area</label>
        <textarea class="form-control" id="blog-text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="save-post" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="commentModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{!-- <input id="blog-title" class="form-control" type="text" placeholder="Default input" aria-label="default input example"> --}}
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example text area</label>
        <textarea class="form-control" id="comment-text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="save-comment" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="commentModal2" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Post Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

            {{#each comments }}
       
             <div id="{{id}}" class="card post-comment">
             <h5 id="header-{{id}}" class="card-header">Featured</h5>
             <div class="card-body">
             <p class="card-text">{{post_comment}}</p>
            <button id="delete-{{id}}" class="btn btn-primary delete-post">Delete</button>
            <button id="edit-{{id}}" class="btn btn-primary edit-post">Edit</button>
        </div>
</div>
    {{/each}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="save-comment" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<div id="editModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Blog Post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input id="edit-blog-title" class="form-control" type="text" placeholder="Default input" aria-label="default input example">
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Example text area</label>
        <textarea class="form-control" id="edit-blog-text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="edit-save-post" type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>