{{#if ourUserPost}}
<div id="postWcomment">
{{#each ourUserPost as |post|}}
<div id="{{post.id}}" class="card post-card-w-comment post-card">
  <h5 id="edit-post-header" class="card-header">post by {{post.user_name}} on {{set_date post.post_date}}</h5>
  <div id="single-post-hp" class="card-body">
      <div class="mb-3">
      <input id="post-title-dab" class="form-control" type="text" aria-label="default input example" value="{{post.post_title}}">
      <textarea class="form-control new-comment-text" id="exampleFormControlTextarea1" rows="3">{{post.blog_post}}</textarea>
      </div>
    <button id="save-post-btn-dab" class="btn btn-primary">Save</button>
    <button id="delete-post-btn-dab" class="btn btn-primary">Delete</button>
    <button id="close-post-page-dab" class="btn btn-primary">Close</button>
    <button id="comment-post-page-dab" class="btn btn-primary">Comment</button>
  </div>
</div>
{{/each}}
{{> createComment}}
{{> userComment}}
{{> editComment}}
{{> allComments}}
</div>
<script src="/js/editPost.js"></script>
<script src="/js/comment.js"></script>
{{/if}}
