{{!-- display the dashboard page --}}
<div id="dashboard-btn">
    <button id="make-post" type="button" class="btn btn-primary btn-lg">New Post</button>
</div>
{{>createPost}}
{{>editPost}}
<div id="my-post-card" class="card ">
  <div class="card-header">
    My Posts
  </div>
    {{#each posts }}
  <div class="card-body my-post-card-body">
    <div id="{{id}}" class="card blog-post-dashboard">
        <h5 id="title-{{id}}" class="card-header post-card-header post-card-left">post: {{post_title}}</h5>
        <h5 id="post-data-{{id}}" class="card-header post-card-header post-card-data post-card-right">{{set_date post_date}}</h5>
    </div>
</div>
    {{/each}}
  </div>

</div>

<script src="/js/dashboard.js"></script>
{{!-- <script src="/js/script.js"></script> --}}

