{{> createPost}}
{{> postWcomments}}
{{> postWcommentsUser}}

<div>
    <button id="make-post" type="button" class="btn btn-primary btn-lg">New Post</button>
</div>

<div>
    {{#if posts}}
    {{#each posts }}
       
    <div id="{{id}}" class="card blog-post">
        <div class="card-header post-header">
        <h5 id="post-title-{{id}}" class="card-title">{{post_title}}</h5>
        <h5 id="header-{{id}}" class="header-meta-data">post by {{user_name}} on {{set_date post_date}}</h5>
        </div>
        <div class="card-body">
        <p id="post-text-{{id}}" class="card-text">{{blog_post}}</p>
    </div>
</div>
    {{/each}}
    {{/if}}
</div>


<script src="/js/homepage.js"></script>

{{!-- <script src="/js/comments.js"></script>
<script src="/js/blogContent.js"></script> --}}